article {
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 14px 16px;
  max-width: 50%;
  text-align: left;
  margin: auto;
  margin-bottom: 20px;
}

article:hover{
    background-color: #F3F3FF;
    border: 2px solid #9999FF;
    color: #9999FF;
}
table {
  margin: auto;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  color: blue;
}

td:hover {
  text-decoration: underline;
  text-decoration-style: solid 10px;
  font-size: 20px;
}

#next {
  padding-left: 70px;
  padding-right: 70px;
}
